<script>(() => { !location.hash && (location.href = './signup.html'); })();</script>
<div class="intro" ng-if="allows">
    <p>
        Theo thông báo từ chính phủ Ontario và Toà Tổng Giám Mục Giáo Phận Toronto, vì tình hình dịch bệnh hiện
        nay nên các nhà thờ thuộc vùng Toronto sẽ giới hạn số người tham dự trong các thánh lễ. Do vậy nhà thờ
        St. Rose of Lima, Scarborough sẽ giới hạn số người tham dự trong các thánh lễ là <b><u>{{total}}</u></b> người.
    </p>

    <p>
        Nếu quý vị muốn tham dự thánh lễ trong các ngày dưới đây, xin điền vào <b><u>email</u></b> và số người sẽ
        tham dự trong mỗi thánh lễ.
    </p>

    <p>
        Nếu quý vị muốn thay đổi số người tham dự, xin cũng điền vào <b><u>email</u></b> và thay đổi số người tham
        dự, hoặc để trống nếu không thể tham dự.
    </p>
</div>

<!--
<div class="intro" ng-if="!allows" style="width: 720px;">
    <p>
        Hiện nay quý ông bà anh chị em muốn tham dự các thánh lễ Chúa Nhật của Cộng Đoàn Thánh Giuse - Scarborough
        sẽ không cần phải ghi tên. Xin quý ông bà anh chị em tiếp tục đến nhà thờ St. Rose of Lima vào mỗi Chúa Nhật
        lúc 4:30 PM, chúng tôi sẽ cố gắng sắp xếp chỗ ngồi đầy đủ. Xin chân thành cám ơn.
    </p>
</div>
-->

<div class="intro" ng-if="!allows" style="width: 720px;">
    <p>
        Kính chào quý Ông Bà và Anh Chị Em
    </p>

    <p>
        Xin kính chúc quý ông bà và anh chị em luôn mạnh khỏe và bình an.
    </p>

    <p>
        Xin thông báo đến quý ông bà và anh chị em về việc nhà thờ sẽ mở cửa trở lại.
    </p>

    <p>
        Theo như thông báo mới của chính phủ Ontario sẽ cho phép mở cửa trở lại và được 15% bắt đầu vào Thứ Sáu, ngày 11 tháng 6, và như vậy Cộng Đoàn chúng ta sẽ có Thánh Lễ bắt đầu vào ngày Chúa Nhật 13 tháng 6, lúc 4:30PM tại Nhà Thờ Giáo Xứ St. Rose. Như vậy Thánh Lễ vào lúc 12:00PM trưa như hiện nay sẽ không còn nữa (riêng các giờ Cầu Nguyện cũng như Thánh Lễ trong tuần sẽ thông báo đến Cộng Đoàn vào Chúa Nhật 13 tháng 6).
    </p>

    <p>
        Hy vọng đợt mở cửa lần này khi chúng ta trở lại tham dự Thánh Lễ, mọi người sẽ an tâm hơn vì đa số đã được chích ngừa, và con số lây lan hiện nay cũng đã giảm nhiều, nhưng họ vẫn yêu cầu chúng ta giữ khoảng cách, và mang khẩu trang cẩn thận như lúc trước.
    </p>

    <p>
        Vậy sau một thời gian chúng ta đã bị gián đoạn này có Thánh Lễ trở lại. Kinh mong quý ông bà và anh chị em chúng ta bớt chút thời giờ đến để cùng nhau cầu nguyện, và tạ ơn Chúa vì những ơn lành Chúa đã ban cho mỗi người mỗi gia đình chúng ta.

    </p>

    <p>
        Xin kính chúc quý ông bà và anh chị em một tuần bằng an, và hẹn gặp lại Chúa Nhật 13 tháng 6.
    </p>

    <p>
        Kính mến<br>
        Hà Đăng Trung
    </p>
</div>