$table-border-color: #9d9d9d;
$background-color-left: #3498db;
$background-color-right: #2c3e50;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    line-height: 1.6;
    background: $background-color-right;
    background: -webkit-linear-gradient(to right, $background-color-left, $background-color-right);
    background: linear-gradient(to right, $background-color-left, $background-color-right);
}

.thanhle {
    .main {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 820px;
        margin: 0 auto;
        text-align: justify;

        .header {
            width: 720px;
            margin: 30px auto 20px auto;
            text-align: center;
            font-weight: 600;
            height: 80px;
            background: url(https://avatars.githubusercontent.com/u/38821324) no-repeat right 0/80px;

            .title {
                padding-top: 10px;
            }
        }

        .liturgy {
            margin: 20px 0 5px 0;
            color: #ffff00;
            font-weight: 500;

            .remaining {
                float: right;
            }
        }

        .signup {
            .content {
                width: 720px;
                margin: 30px auto 20px auto;

                .form1, .form2 {
                    padding: 20px 20px 5px 20px;
                    border: 1px solid #f1f1f1;
                    border-radius: 5px;

                    .form-group {
                        margin-bottom: 12px;
                    }

                    .form-control {
                        height: 30px;
                        font-size: 16px;
                    }
                }

                .form2 {
                    margin-bottom: 20px;
                    padding: 15px 15px 0 15px;
                }
            }

            .submit {
                text-align: right;
                margin-top: 20px;
            }
        }

        .summary {
            width: 600px;
            margin: 30px auto;
        }

        .list {
            width: 1000px;
            margin-left: -105px;

            .table {
                margin: 0 auto 10px auto;
                border: 1px solid $table-border-color;

                tr > td {
                    line-height: 20px;
                }

                .header {
                    height: 22px;
                    background-color: #2f4e67;
                    text-align: left;
                    font-weight: 500;

                    .order {
                        border-left: 1px solid $table-border-color;
                    }
                }

                .order {
                    width: 120px;
                    text-align: center;
                }

                .name, .email, .phone, .count {
                    border-left: 1px solid $table-border-color;
                    padding-left: 10px;
                }

                .phone {
                    width: 160px;
                }

                .count {
                    width: 120px;
                    text-align: center;
                }
            }

            .nav {
                display: inline-block;
                width: 100%;

                .prev {
                    color: #f0f0f0;
                    float: left;
                    width: 18px;
                }

                .next {
                    color: #f0f0f0;
                    float: right;
                    width: 18px;
                }

                .print {
                    color: #ffffff;
                    margin-left: 50%;
                }
            }
        }
    }

    @media only screen and (max-device-height : 1024px) and (orientation: portrait) {
        .container {
            width: 90%;
        }
    }
}